<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 7 Core component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">7.2.5.2</p>
<p class="MergeInstructions">Insert the following text as a new item b after item a and 
renumber remaining items:</p>
<ol>
	<li type="a" value="2">&ldquo;version of the standard being supported (for this 
	version of this part of ISO/IEC 19775, the version number is &quot;3.1&quot;);&rdquo;</li>
</ol>

<p class="MergeLocation">7.2.5.3</p>
<p class="MergeInstructions">Replace items d, e, and f with the following text:</p>
<ol start="4">
	<li type="a">MPEG-4 interactive (see <a href="../MPEG4interactive.html">D 
	MPEG-4 interactive profile</a>)</li>
	<li type="a">Immersive (see <a href="../immersive.html">E Immersive 
	profile</a>),</li>
	<li type="a">Full (see <a href="../fullProfile.html">F Full profile</a>), and 
	</li>
	<li type="a">CADInterchange (see <a href="../CADInterchange.html">H CAD 
	interchange profile</a>).</li>
</ol>
<p class="MergeInstructions">Insert the following new paragraph after the list:</p>
<p>&ldquo;The profile name is implicitly qualified by the version number of the 
standard (see <a href="#HeaderStatement">7.2.5.2 Header statement</a>). Browsers shall use both 
the profile name and the version number to determine the specific 
characteristics of the profile.&rdquo;</p>

<p class="MergeLocation">7.2.5.4</p>
<p class="MergeInstructions">Insert the following text as the 2nd paragraph and 
hyperlink the reference:</p>
<p>&ldquo;Declaring a component in a file shall only add support for nodes and 
functionality defined in that component at the requested support level. <br>
Nodes that are defined as part of the prerequisite components (see 4.5.3 Base 
Components) shall not be automatically included. A user shall declare all 
components and levels for the nodes and/or functionality being used either 
explicitly through the use of the COMPONENT statement or implicitly through the 
PROFILE statement.&rdquo;</p>

</BODY>
</HTML>