<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 22 Environmental sensor component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 22.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 22.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">22.2, paragraph following bullet list</p>
<p class="MergeInstructions">Remove the second sentence.</p>
<p class="MergeInstructions">Split the paragraph by making the last sentence 
into a new paragraph.</p>
<p class="MergeLocation">22.2, last paragraph</p>
<p class="MergeInstructions">Move to immediately 
follow the bullet list of 22.2.</p>

<p class="MergeLocation">22.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 22.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>