<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 13 Geometry3D component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 13.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 13.4 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">13.3.4, Node signature</p>
<p class="MergeInstructions">Insert the following new field definition as the 
first [in,out] field in the node signature:</p>
<p>&ldquo;<span class="code"><span style="font-style: normal">MFNode [in,out] attrib 
[] [X3DVertexAttributeNode]</span></span>&rdquo;</p>

<p class="MergeInstructions">Insert the following new field definition after the&nbsp;
<span class="code">color</span> field:</p>
<p>&ldquo;<span class="code">SFNode [in,out] fogCoord [] [FogCoordinate]</span>&rdquo;</p>

<p class="MergeLocation">13.3.6, Node signature</p>
<p class="MergeInstructions">Insert the following new field definition as the 
first [in,out] field in the node signature:</p>
<p>&ldquo;<span class="code"><span style="font-style: normal">MFNode [in,out] attrib 
[] [X3DVertexAttributeNode]</span></span>&rdquo;</p>

<p class="MergeInstructions">Insert the following new field definition after the&nbsp;
<span class="code">coord</span> field:</p>
<p>&ldquo;<span class="code">SFNode [in,out] fogCoord [] [FogCoordinate]</span>&rdquo;</p>

<p class="MergeLocation">13.4</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 13.4 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

<p class="MergeInstructions">For level 4, change &quot;<span style="font-style: normal">All 
Level 2 geometry nodes</span>&quot; to &quot;<span style="font-style: normal">All Level 3 
geometry nodes</span>&quot;.</p>

</BODY>
</HTML>