<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 13 Geometry3D component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">14.3.1, 2nd paragraph</p>
<p class="MergeInstructions">Remove the 2nd paragraph.</p>

<p class="MergeLocation">14.3.3, last paragraph</p>
<p class="MergeInstructions">Remove the last paragraph.</p>

<p class="MergeLocation">14.3.5, last paragraph</p>
<p class="MergeInstructions">Remove the last paragraph.</p>

<p class="MergeLocation">14.3.6, last paragraph</p>
<p class="MergeInstructions">Remove the last paragraph.</p>

</BODY>
</HTML>