<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 10 Grouping component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 10.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 10.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">10.3.2, X3DGroupingNode node signature</p>
<p class="MergeInstructions">Replace the first two fields with the following:</p>
<pre class="listing">&ldquo;  MFNode  [in]     addChildren             [X3DChildNode]
   MFNode  [in]     removeChildren          [X3DChildNode]&rdquo;
</pre>
<p class="MergeLocation">10.4.3, 1st and 3rd paragraphs</p>
<p class="MergeInstructions">Replace &quot;choice <span style="font-style: normal">
field</span>&quot; with &quot;children <span style="font-style: normal">field</span>&quot;.</p>

<p class="MergeLocation">10.4.4</p>
<p class="MergeInstructions">Replace the range for the <span class="code">scale</span> 
field with &quot;<span style="font-style: normal">(-&infin;, &infin;)</span>&quot;.</p>
<p class="MergeInstructions">Capitalize the fourth sentence of the fifth 
paragraph.</p>

<p class="MergeLocation">10.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 10.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>