<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 26 Humanoid animation (H-Anim) component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 26.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 26.4 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">26.3.1, node signature</p>
<p class="MergeInstructions">Remove &quot;<span class="code"><span style="font-style: normal">[X3DCoordinateNode]</span></span>&quot; 
from the <span class="code">displacements</span> field.</p>
<p class="MergeInstructions">Append the range &quot;<span class="code"><span style="font-style: normal">(-&infin;, &infin;)</span></span>&quot; 
to the <font face="Courier New">weight</font> field.</p>

<p class="MergeLocation">26.3.2, node signature</p>
<p class="MergeInstructions">The allowable range of the <span class="code">
skeleton</span> field should be changed from &quot;<span class="code">[HAnimJoint]</span>&quot; 
to &quot;<span class="code">[HAnimJoint, HAnimSite]</span>&quot;.</p>

<p class="MergeInstructions">The allowable range of the <span class="code">
viewpoints</span> field should be changed from &quot;<span class="code">[Viewpoint]</span>&quot; 
to &quot;<span class="code">[HAnimSite]</span>&quot;.</p>

<p class="MergeLocation">26.3.2, 1st paragraph</p>
<p class="MergeInstructions">In the 1st sentence, change the word &quot;Viewpoint&quot; to 
&quot;HAnimSite&quot;.</p>

<p class="MergeLocation">26.3.4, Node signature</p>
<p class="MergeInstructions">Replace the range of the <span class="code">mass</span> 
field with &quot;<span class="code"><span style="font-style: normal">[0,&infin;)</span></span>&quot;</p>

<p class="MergeLocation">26.4</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 26.4 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>