<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 19 Interpolation component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">19, throughout</p>
<p class="MergeInstructions">In the HTML code, replace &quot;<font face="Times New Roman">∞</font>&quot; 
character with the &quot;&amp;infin;&quot; character entity.</p>

<p class="MergeLocation">Table 19.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 19.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">19.5, heading</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 19.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

<p class="MergeLocation">19.5, 1st paragraph</p>
<p class="MergeInstructions">Replace the word &quot;<span style="font-style: normal">two</span>&quot; 
with &quot;<span style="font-style: normal">three</span>&quot;.</p>

</BODY>
</HTML>