<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 21 Key device sensor component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 21.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 21.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">21.3.1, 1st paragraph</p>
<p class="MergeInstructions">Replace the word &quot;which&quot; with the word &quot;that&quot;.</p>

<p class="MergeLocation">21.4.1, 4th paragraph, first sentence</p>
<p class="MergeInstructions">Replace the first sentence with the following text:</p>
<p>&ldquo;<i>shiftKey</i>, <i>controlKey</i>, and <i>altKey</i> events are generated as 
each of the shift, 
control, and 
alt keys on the keyboard is respectively pressed and released.&rdquo;</p>

<p class="MergeLocation">21.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 21.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>