<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 27 NURBS component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">27, Throughout</p>
<p class="MergeInstructions">Replace all occurrences of the text &quot;<span style="font-style: normal">controlPoints</span>&quot; 
with &quot;<span style="font-style: normal">controlPoint</span>&quot;. (Also see change to 
27.2.3, last paragraph, below.)</p>

<p class="MergeLocation">Table 27.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 27.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">27.2.3, 6th paragraph</p>
<p class="MergeInstructions">Replace the last sentence with the following text:</p>
<p>&ldquo;If the last control point is not identical to the first or there exists a 
non-unitary value of weight within <span class="code">(order-1)</span> control 
points of the seam, the <i>closed</i> field is ignored.&rdquo;</p>

<p class="MergeLocation">27.2.3, last paragraph</p>
<p class="MergeInstructions">In the last sentence, replace &ldquo;(numControlPoints 
+ order - 1)&rdquo; with &ldquo;numControlPoint 
+ order&rdquo;.</p>

<p class="MergeLocation">27.2.3 (2nd occurrence) subclause number</p>
<p class="MergeInstructions">Renumber subclause as 27.2.4.</p>

<p class="MergeLocation">27.3.2, 5th paragraph</p>
<p class="MergeInstructions">Replace the 5th paragraph with the following text:</p>
<p>&quot;<i>uClosed</i> and <i>vClosed</i> define whether or not the specific 
dimension is to be evaluated as a closed surface along the u and v directions, 
respectively.&quot;</p>

<p class="MergeLocation">27.3.2, 6th paragraph</p>
<p class="MergeInstructions">Replace the last three sentences with the following 
text:</p>
<p>&quot;A closed surface in either the u-dimension or the v-dimension shall be 
specified by repeating the limiting control points for that dimension and 
setting the respective <i>uClosed</i> or <i>vClosed</i> field to
<span class="code">TRUE</span>. If the last control point is not identical with 
the first control point, the field is ignored. If either the <i>uClosed</i> or 
the <i>vClosed</i> field is set to <span class="code">FALSE</span>, the 
implementation shall not be required to smoothly blend the edges of the surface 
in that dimension into a continuous surface.&quot;</p>

<p class="MergeLocation">27.3.2, last paragraph</p>
<p class="MergeInstructions">Remove the paragraph.</p>

<p class="MergeLocation">27.4.1, Node signature</p>
<p class="MergeInstructions">For the ranges of the addChildren, removeChildren, 
and children fields, replace &quot;NurbsCurve&quot; with &quot;NurbsCurve2D&quot;.</p>

<p class="MergeLocation">27.4.2, Node signature</p>
<p class="MergeInstructions">Replace <span style="font-style: normal">point</span> 
field with the following text:</p>
<p>&quot;<span class="code">MFVec2D [in,out] controlPoint [] (-&infin;, &infin;)</span>&quot;</p>

<p class="MergeLocation">27.4.2, 2nd paragraph</p>
<p class="MergeInstructions">Replace the paragraph with the following text:</p>
<p>&quot;The <i>controlPoint</i> field specifies the end points of each segment of 
the piecewise linear curve.&quot;</p>

<p class="MergeLocation">27.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 27.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>