<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 20 Pointing device sensor component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 20.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 20.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">20.3</p>
<p class="MergeInstructions">Remove the trailing semicolons from the
<span class="code">enabled</span> and <span class="code">isActive</span> fields 
in all three abstract nodes.</p>

<p class="MergeLocation">20.4.1</p>
<p class="MergeInstructions">Insert the following text as the second paragraph:</p>
<p>&ldquo;The <i>description</i> field in the CylinderSensor node specifies a textual 
description of the CylinderSensor node. This may be used by browser-specific 
user interfaces that wish to present users with more detailed information about 
the CylinderSensor.&rdquo;</p>

<p class="MergeLocation">20.4.2</p>
<p class="MergeInstructions">Insert the following text as the second paragraph:</p>
<p>&ldquo;The <i>description</i> field in the PlaneSensor node specifies a textual 
description of the PlaneSensor node. This may be used by browser-specific 
user interfaces that wish to present users with more detailed information about 
the PlaneSensor.&rdquo;</p>

<p class="MergeLocation">20.4.3</p>
<p class="MergeInstructions">Insert the following text as the second paragraph:</p>
<p>&ldquo;The <i>description</i> field in the SphereSensor node specifies a textual 
description of the SphereSensor node. This may be used by browser-specific 
user interfaces that wish to present users with more detailed information about 
the SphereSensor.&rdquo;</p>

<p class="MergeLocation">20.4.4</p>
<p class="MergeInstructions">Split the first paragraph into two paragraphs after 
the first sentence.</p>
<p class="MergeInstructions">Insert the following text as the new second paragraph:</p>
<p>&ldquo;The <i>description</i> field in the TouchSensor node specifies a textual 
description of the TouchSensor node. This may be used by browser-specific 
user interfaces that wish to present users with more detailed information about 
the TouchSensor.&rdquo;</p>

<p class="MergeLocation">20.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 20.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>