<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 29 Scripting component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 29.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 29.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">29.2.8, last paragraph</p>
<p class="MergeInstructions">Replace &quot;<span style="font-style: normal">9.2.1 
URLs</span>&quot; with &quot;<span style="font-style: normal">9.3.2 </span>X3DUrlObject&quot;.</p>

<p class="MergeLocation">29.4.1, Node signature</p>
<p class="MergeInstructions">Replace &quot;<span class="code"><span style="font-style: normal">fieldType 
[in,out] fieldName</span></span>&quot; with &quot;<span class="code"><span style="font-style: normal">fieldType 
[in,out] fieldName initialValue</span></span>&quot;.</p>

<p class="MergeInstructions">Replace &quot;<span class="code"><span style="font-style: normal">fieldType 
[] fieldName</span></span>&quot; with &quot;<span class="code"><span style="font-style: normal">fieldType 
[] fieldName initialValue</span></span>&quot;.</p>

<p class="MergeLocation">29.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 29.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>