<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 15 Text component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">Table 15.1</p>
<p class="MergeInstructions">In the HTML, change the hyperlink for 15.5 to &quot;<span style="font-style: normal">#SupportLevels</span>&quot;.</p>

<p class="MergeLocation">15.2.2.3</p>
<p class="MergeInstructions">Renumber the second &quot;Table 5.6&quot; as &quot;Table 
5.7&quot;.</p>

<p class="MergeLocation">15.4.2, Node signature</p>
<p class="MergeInstructions">Insert the following two fields after the
<span class="code">string</span> field:</p>

<p>&ldquo;<span class="code">MFVec2f [out] lineBounds<br>
&nbsp;SFVec2f [out] textBounds</span>&rdquo;</p>

<p class="MergeLocation">15.4.2, 4th paragraph</p>
<p class="MergeInstructions">Insert the following text after the first sentence:</p>
<p>&ldquo;The length of each line of type is measured horizontally for horizontal text 
(FontStyle node: <i>horizontal</i>=<span class="code">TRUE</span>) and 
vertically for vertical text (FontStyle node: <i>horizontal</i>=<span class="code">FALSE</span>). 
The <i>length</i> and <i>maxExtent</i> fields thus refer to local coordinate 
units along the dimension of type flow (major axis).&rdquo;</p>

<p class="MergeLocation">15.4.2</p>
<p class="MergeInstructions">Append the following text and figure after the 5th paragraph:</p>
<p>&quot;When the default values of <i>length</i> and <i>maxExtent</i> are used, the 
Text node shall generate events called <i>lineBounds</i> and <i>textBounds</i> 
to provide applications with spatial data regarding the size of the rendered 
string(s) with the font being used. These events are also generated when the 
default values of <i>length</i> and <i>maxExtent</i> are used and the string 
field is changed programmatically. <i>lineBounds</i> is a pair of 2D vectors 
where each vector contains the size of the 2D bounding box for each line of 
rendered text in local text x and y coordinates. The <i>textBounds</i> event is 
a single 2D vector that contains the size in x and y dimensions of the Text 
node’s 2D bounding box (all strings) as rendered. This is depicted in 
<a href="#f-LineBoundsAndTextBoundsMeasurements">Figure 
15.3</a>.</p>
<p class="Example">NOTE&nbsp; In horizontal font styles, the x dimension of the
<i>lineBounds</i> and <i>textBounds</i> fields is equivalent to a specified <i>
length</i> or <i>maxExtent</i> (the major axis). However, in vertical font 
styles, the x dimension of the lineBounds and textBounds fields is along the 
minor axis.</p>
<div class=CenterDiv>
<p><a name="f-LineBoundsAndTextBoundsMeasurements"></a>
<img border="0" src="../../Images/textBounds.jpg" alt="Text Bounds" width="391" height="473"></p>
<p class="FigureCaption">Figure 15.3 &mdash; lineBounds and textBounds measurements</div>

<p class="MergeLocation">15.5</p>
<p class="MergeInstructions">In the HTML, change the bookmark for 15.5 to &quot;<span style="font-style: normal">SupportLevels</span>&quot;.</p>

</BODY>
</HTML>