<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<TITLE>ISO/IEC 19775-1:2004/Am1:2006 -- 30 Event utilities component</TITLE>
<link href="../../X3D.css" type="text/css" rel=stylesheet>

</HEAD>
<BODY>

<p class="MergeLocation">30.4.5, Node signature</p>
<p class="MergeInstructions">Replace the range of the keyValue field with &quot;<span class="code"><span style="font-style: normal">(-&infin;,&infin;)</span></span>&quot;.</p>

<p class="MergeLocation">30.4.5, 1st paragraph</p>
<p class="MergeInstructions">Replace the paragraph with the following text:</p>
<p>&quot;The IntegerSequencer node generates sequential discrete SFInt32 events in 
response to each <i>set_fraction</i>, <i>next</i>, or <i>previous</i> event.&quot;</p>

<p class="MergeLocation">30.4.6, Node signature</p>
<p class="MergeInstructions">Replace the range of the integerKey field with &quot;<span class="code"><span style="font-style: normal">(-&infin;,&infin;)</span></span>&quot;.</p>

<p class="MergeLocation">30.5, 1st paragraph</p>
<p class="MergeInstructions">Replace &quot;<span style="font-style: normal">four 
levels</span>&quot; with &quot;<span style="font-style: normal">one level</span>&quot;.</p>

</BODY>
</HTML>