<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 

<TITLE>Extensible 3D (X3D), ISO/IEC 19775-1:2004, Part 1 -- 24 Environmental effects componenent</TITLE>
<link rel="stylesheet" href="../../X3D.css" type="text/css">

</HEAD>
<BODY>

<div class="CenterDiv">
<IMG class="x3dlogo" SRC="../../Images/x3d.png" ALT="X3D logo" width="115" height="106"> 
</div>

<div class="CenterDiv">
<p class="HeadingPart">
    Extensible 3D (X3D)<br />
    Part 1: Architecture and base components</p>
<p class="HeadingClause">24 Environmental effects component</p>
</div>

<IMG class="x3dbar" SRC="../../Images/x3dbar.png" ALT="--- X3D separator bar ---" width="430" height="23">

<h1><a name="Introduction"></a>
<img class="cube" src="../../Images/cube.gif" alt="cube" width="20" height="19"> 
24.1 Introduction</h1>
<h2><a name="Name"></a>24.1.1 Name</h2>
<p>The name of this component is &quot;EnvironmentalEffects&quot;. This name shall be used when referring 
to this component in the COMPONENT statement (see
<a href="core.html#COMPONENTStatement">7.2.5.4 Component statement</a>).</p>
<h2><a name="Overview"></a>24.1.2 Overview</h2>

<p>This clause describes the Environmental Effects component of this part of 
ISO/IEC 19775. Nodes in this component support the creation of realistic environmental 
  effects such as panoramic backgrounds and fog. <a href="#t-Topics">Table 
  24.1</a> provides links to the major topics in this clause.</p>

<div class="CenterDiv">

<p class="TableCaption">
<a name="t-Topics"></a><b>
Table 24.1 — Topics</b></p>

<table>
    <tr> 
      <td> 
        <ul>
          <li><a href="#Introduction">24.1 Introduction</a>
          <ul>
            <li><a href="#Name">24.1.1 Name</a></li>
            <li><a href="#Overview">24.1.2 Overview</a> </li>
          </ul>
          </li>
          <li><a href="#Concepts">24.2 Concepts</a></li>
          <li><a href="#Abstracttypes">24.3 Abstract types</a></li>  
            <ul>
              <li><a href="#X3DBackgroundNode">24.3.1 <i>X3DBackgroundNode</i></a></li>
            </ul>
          <li><a href="#NodeReference">24.4 Node reference</a></li>  
            <ul>
              <li><a href="#Background">24.4.1 Background</a></li> 
              <li><a href="#Fog">24.4.2 Fog</a></li> 
              <li><a href="#TextureBackground">24.4.3 TextureBackground</a></li> 
            </ul>
          <li><a href="#Supportlevels">24.5 Support levels</a></li>  
        </ul>
        <ul>
<li><a href="#f-BackgroundNode">Figure 24.1 &mdash; Background node</a></li>
        </ul>
        <ul>
<li><a href="#t-Topics">Table 24.1 — Topics</a></li>
<li><a href="#t-supportlevels">Table 24.2 &mdash; Environmental effects component support levels</a></li>
        </ul>
      </td>
    </tr>
  </table>
</div>


<h1><img class="cube" src="../../Images/cube.gif" alt="cube" width="20" height="19">
<a name="Concepts"></a>24.2 Concepts</h1>

<p>Background nodes are used to specify a colour backdrop that simulates ground 
and sky, as well as a background texture, or <i>panorama</i>, that is placed 
behind all geometry in the scene and in front of the ground and sky. Background 
nodes are specified in the local coordinate system and are affected by the 
accumulated rotation of their ancestors as described below. X3D supports two 
kinds of background nodes: a simple background node that contains a set of url 
fields for specifying static image files that compose the backdrop (see
<a href="#Background">24.4.1 Background</a>), and a complex background node 
containing arbitrary X3DTexture nodes that compose the backdrop (see
<a href="#TextureBackground">24.4.3 TextureBackground</a>). Both types of 
background node descend from the base type <a href="#X3DBackgroundNode">
X3DBackgroundNode</a>. Applications should use the Background node for 
simplicity, and the TextureBackground node for more flexibility and additional 
features.</p>
<p>Background nodes are bindable nodes as described in
<a href="core.html#Bindablechildrennodes">7.2.2 Bindable children nodes</a>. 
There exists a Background stack, in which the top-most Background on the stack 
is the currently active Background. To move a Background to the top of the 
stack, a <code>TRUE</code> value is sent to the <i>set_bind</i> field. Once 
active, the Background is then bound to the browsers view. A <code>FALSE</code> 
value sent to <i>set_bind</i> removes the Background from the stack and unbinds 
it from the browser&#39;s view. .</p>
<p>The backdrop is conceptually a partial sphere (the ground) enclosed inside of 
a full sphere (the sky) in the local coordinate system with the viewer placed at 
the centre of the spheres. Both spheres have infinite radius and each is painted 
with concentric circles of interpolated colour perpendicular to the local Y-axis 
of the sphere. The Background node is subject to the accumulated rotations of 
its ancestors&#39; transformations. Scaling and translation transformations are 
ignored. The sky sphere is always slightly farther away from the viewer than the 
ground partial sphere causing the ground to appear in front of the sky where 
they overlap.</p>
<p>The <i>skyColor</i> field specifies the colour of the sky at various angles 
on the sky sphere. The first value of the <i>skyColor</i> field specifies the 
colour of the sky at 0.0 radians representing the zenith (i.e.,&nbsp;straight up from 
the viewer). The <i>skyAngle</i> field specifies the angles from the zenith in 
which concentric circles of colour appear. The zenith of the sphere is 
implicitly defined to be 0.0 radians, the natural horizon is at 
<font face="Times New Roman">π</font>/2 radians, and 
the nadir (i.e., straight down from the viewer) is at 
<font face="Times New Roman">π</font> radians. <i>skyAngle</i> 
is restricted to non-decreasing values in the range [0.0, 
<font face="Times New Roman">π</font>]. There shall be one 
more <i>skyColor</i> value than there are <i>skyAngle</i> values. The first 
colour value is the colour at the zenith, which is not specified in the <i>
skyAngle</i> field. If the last <i>skyAngle</i> is less than <i>pi</i>, then the 
colour band between the last <i>skyAngle</i> and the nadir is clamped to the 
last <i>skyColor</i>. The sky colour is linearly interpolated between the 
specified <i>skyColor </i>values.</p>
<p>The <i>groundColor</i> field specifies the colour of the ground at the 
various angles on the ground partial sphere. The first value of the <i>
groundColor</i> field specifies the colour of the ground at 0.0 radians 
representing the nadir (i.e.,&nbsp;straight down from the user). The <i>groundAngle</i> 
field specifies the angles from the nadir that the concentric circles of colour 
appear. The nadir of the sphere is implicitly defined at 0.0 radians. <i>
groundAngle</i> is restricted to non-decreasing values in the range [0.0, 
<font face="Times New Roman">π</font>/2]. 
There shall be one more <i>groundColor</i> value than there are <i>groundAngle</i> 
values. The first colour value is for the nadir which is not specified in the <i>
groundAngle</i> field. If the last <i>groundAngle</i> is less than 
<font face="Times New Roman">π</font>/2, the 
region between the last <i>groundAngle</i> and the equator is non-existant. The 
ground colour is linearly interpolated between the specified <i>groundColor </i>
values.</p>
<p>The <i>back</i>, <i>bottom</i>, <i>front</i>, <i>left</i>, <i>right</i>, and
<i>top</i> fields specify a set of images that define a background panorama 
between the ground/sky backdrop and the scene&#39;s geometry. The panorama consists 
of six images, each of which is mapped onto a face of an infinitely large cube 
contained within the backdrop spheres and centred in the local coordinate 
system. The images are applied individually to each face of the cube. On the 
front, back, right, and left faces of the cube, when viewed from the origin 
looking down the negative Z-axis with the Y-axis as the view up direction, each 
image is mapped onto the corresponding face with the same orientation as if the 
image were displayed normally in 2D (<i>back</i> to back face, <i>front</i> to 
front face, <i>left</i> to left face, and <i>right</i> to right face<i>)</i>. On 
the top face of the cube, when viewed from the origin looking along the +Y-axis 
with the +Z-axis as the view up direction, the <i>top</i> image is mapped onto 
the face with the same orientation as if the image were displayed normally in 
2D. On the bottom face of the box, when viewed from the origin along the 
negative Y-axis with the negative Z-axis as the view up direction, the <i>bottom</i> 
image is mapped onto the face with the same orientation as if the image were 
displayed normally in 2D.</p>
<p><a href="#f-BackgroundNode">Figure 24.1</a> illustrates the Background node 
backdrop and background textures.</p>
<p>Alpha values in the panorama images (i.e.,&nbsp;two or four component images) 
specify that the panorama is semi-transparent or transparent in regions, 
allowing the <i>groundColor</i> and <i>skyColor</i> to be visible.</p>
<p>See <a href="texturing.html">18 Texturing component</a> for a general 
description of texture maps.</p>
<p>Often, the <i>bottom</i> and <i>top</i> images will not be specified, to 
allow sky and ground to show. The other four images may depict surrounding 
mountains or other distant scenery.</p>
<div class="CenterDiv">
  <a name="f-BackgroundNode"></a>
  <img alt="Background node" src="../../Images/background.gif" width="615" height="312">
  <p class="FigureCaption">Figure 24.1<b>
  &mdash; </b>Background node</div>
<p>Panorama images may be one component (greyscale), two component (greyscale 
plus alpha), three component (full RGB colour), or four-component (full RGB 
colour plus alpha).</p>
<p>Ground colours, sky colours, and panoramic images do not translate with 
respect to the viewer, though they do rotate with respect to the viewer. That 
is, the viewer can never get any closer to the background, but can turn to 
examine all sides of the panorama cube, and can look up and down to see the 
concentric rings of ground and sky (if visible).</p>
<p>Background nodes are not affected by <a href="#Fog">Fog</a> nodes. Therefore, 
if a Background node is active (i.e.,&nbsp;bound) while a Fog node is active, then 
the Background node will be displayed with no fogging effects. It is the 
author&#39;s responsibility to set the Background values to match the Fog values 
(<span class="code">EXAMPLE</span> &nbsp;ground colours fade to fog colour with distance and panorama images 
tinted with fog colour). Background nodes are not affected by light sources.</p>

<h1><img class="cube" src="../../Images/cube.gif" alt="cube" width="20" height="19">
<a name="Abstracttypes"></a>
24.3 Abstract types</h1>

<h2><a name="X3DBackgroundNode"></a>
24.3.1 <i>X3DBackgroundNode</i></h2>

<pre class="node">X3DBackgroundNode : X3DBindableNode { 
  SFBool   [in]     set_bind
  MFFloat  [in,out] groundAngle []      [0,<font face="Times New Roman">π</font>/2]
  MFColor  [in,out] groundColor []      [0,1]
  SFNode   [in,out] metadata    NULL    [X3DMetadataObject]
  MFFloat  [in,out] skyAngle    []      [0,<font face="Times New Roman">π</font>]
  MFColor  [in,out] skyColor    0 0 0   [0,1]
  SFTime   [out]    bindTime
  SFBool   [out]    isBound
}
</pre>

<p>X3DBackgroundNode is the abstract type from which all backgrounds inherit. 
X3DBackgroundNode is a bindable node that when bound to defines the panoramic 
background for the scene. For complete information on backgrounds, see
<a href="#Concepts">24.2 Concepts</a>.</p>

<h1><img class="cube" src="../../Images/cube.gif" alt="cube" width="20" height="19">
<a name="NodeReference"></a>
24.4 Node reference</h1>

<h2><a name="Background"></a>
24.4.1 Background</h2>

<pre class="node">Background : X3DBackgroundNode {
  SFBool   [in]     set_bind
  MFFloat  [in,out] groundAngle []    [0,<font face="Times New Roman">π</font>/2]
  MFColor  [in,out] groundColor []    [0,1]
  MFString [in,out] backUrl     []    [<i>urn</i>]
  MFString [in,out] bottomUrl   []    [<i>urn</i>]
  MFString [in,out] frontUrl    []    [<i>urn</i>]
  MFString [in,out] leftUrl     []    [<i>urn</i>]
  SFNode   [in,out] metadata    NULL  [X3DMetadataObject]
  MFString [in,out] rightUrl    []    [<i>urn</i>]
  MFString [in,out] topUrl      []    [<i>urn</i>]
  MFFloat  [in,out] skyAngle    []    [0,<font face="Times New Roman">π</font>]
  MFColor  [in,out] skyColor    0 0 0 [0,1]
  SFTime   [out]    bindTime
  SFBool   [out]    isBound
}
</pre>

<p>A background node that uses six static images to compose the backdrop. The 
common fields of the Background node are described in <a href="#Concepts">24.2 
Concepts</a>. For the <i>backUrl</i>, <i>bottomUrl</i>,<i> frontUrl</i>,
<i>leftUrl</i>, <i>rightUrl</i>, <i>topUrl</i> fields, browsers shall support 
the JPEG (see <a href="../references.html#[JPEG]">2.[JPEG]</a>) and PNG (see
<a href="../references.html#[I15948]">2.[I15948]</a>) image file formats, and in 
addition, may support any other image format (<span class="example">EXAMPLE</span>&nbsp; CGM) that can be rendered 
into a 2D image. Support for the GIF (see <a href="../bibliography.html#[GIF]">
[GIF]</a>) format is recommended (including transparency) . More detail on the
<i>url</i> fields can be found in <a href="networking.html#URLs">9.2.1 URLs</a>.</p>

<h2><a name="Fog"></a>
24.4.2 Fog</h2>

<pre class="node">Fog : X3DBindableNode {
  SFBool   [in]     set_bind
  SFColor  [in,out] color           1 1 1    [0,1]
  SFString [in,out] fogType         "LINEAR" ["LINEAR"|"EXPONENTIAL"]
  SFNode   [in,out] metadata        NULL     [X3DMetadataObject]
  SFFloat  [in,out] visibilityRange 0        [0,&#8734;)
  SFTime   [out]    bindTime
  SFBool   [out]    isBound
}
</pre>

<p>The Fog node provides a way to simulate atmospheric effects 
    by blending objects with the colour specified by the <i>color</i> field based 
    on the distances of the various objects from the viewer. The distances are 
    calculated in the coordinate space of the Fog node. The <i>visibilityRange</i> 
    specifies the distance in metres (in the local coordinate system) at which 
    objects are totally obscured by the fog. Objects located outside the <i>visibilityRange</i> 
    from the viewer are drawn with a constant colour of <i>color</i>. Objects 
    very close to the viewer are blended very little with the fog <i>color</i>. 
    A <i>visibilityRange</i> of 0.0 disables the Fog node. The <i>visibilityRange</i> 
    is affected by the scaling transformations of the Fog node's parents; translations 
    and rotations have no affect on <i>visibilityRange</i>. Values of the <i>visibilityRange</i> 
    field shall be in the range [0,&#8734;).</p>

<p>Since Fog nodes are bindable children nodes (see
<a href="core.html#Bindablechildrennodes">7.2.2 Bindable children nodes</a>), 
    a Fog node stack exists, in which the top-most Fog node on the stack is currently 
    active. To push a Fog node onto the top of the stack, a <code>TRUE</code> 
    value is sent to the <i>set_bind</i> field. Once active, the Fog node is bound 
    to the browser view. A <code>FALSE</code> value sent to 
    <i>set_bind</i>, pops the Fog node from the stack and unbinds it from the 
    browser viewer. More details on the Fog node stack can be found in
<a href="core.html#Bindablechildrennodes">7.2.2 Bindable children nodes</a>.</p>

<p>The <i>fogType</i> field controls how much of the fog colour 
    is blended with the object as a function of distance. If <i>fogType</i> is 
    &quot;<code>LINEAR</code>&quot;, the amount of blending 
    is a linear function of the distance, resulting in a depth cueing effect. 
    If <i>fogType</i> is &quot;<code>EXPONENTIAL</code>,&quot; 
    an exponential increase in blending is used, resulting in a more natural fog 
    appearance.</p>

<p>The effect of fog on lighting calculations is described in 
    <a href="lighting.html">17 Lighting component</a>.</p>

<h2><a name="TextureBackground"></a>
24.4.3 TextureBackground</h2>

<pre class="node">TextureBackground : X3DBackgroundNode {
  SFBool  [in]     set_bind
  MFFloat [in,out] groundAngle   []    [0,<font face="Times New Roman">π</font>/2]
  MFColor [in,out] groundColor   []    [0,1]
  SFNode  [in,out] backTexture   NULL  [X3DTextureNode]
  SFNode  [in,out] bottomTexture NULL  [X3DTextureNode]
  SFNode  [in,out] frontTexture  NULL  [X3DTextureNode]
  SFNode  [in,out] leftTexture   NULL  [X3DTextureNode]
  SFNode  [in,out] metadata      NULL  [X3DMetadataObject]
  SFNode  [in,out] rightTexture  NULL  [X3DTextureNode]
  SFNode  [in,out] topTexture    NULL  [X3DTextureNode]
  MFFloat [in,out] skyAngle      []    [0,<font face="Times New Roman">π</font>]
  MFColor [in,out] skyColor      0 0 0 [0,1]
  MFFloat [in,out] transparency  0     [0,1]
  SFTime  [out]    bindTime
  SFBool  [out]    isBound
}
</pre>

<p>A background node that uses six individual texture nodes to compose the 
backdrop. Unlike the Background node, which only 
supports static image formats referenced by URL fields, the contents of the 
TextureBackground node can be arbitrary texture types, including
<a href="texturing.html#ImageTexture">ImageTexture</a>,
<a href="texturing.html#PixelTexture">PixelTexture</a>,
<a href="texturing.html#MovieTexture">MovieTexture</a> and
<a href="texturing.html#MultiTexture">MultiTexture</a>. The common fields of the 
TextureBackground node are described in <a href="#Concepts">24.2 Concepts</a>. </p>
<p>TextureBackground supports the creation of rich backgrounds with animation. 
It also allows the world author to attach load sensors (see
<a href="networking.html#LoadSensor">9.4.3 LoadSensor</a>) to the node&#39;s texture fields to receive notification of when 
elements of the background are loaded.</p>
<p>TextureBackground supports transparency values, allowing for the scene to be 
overlaid on other elements in an application. A non-zero transparency value in 
the <i>transparency</i> field allows the underlying window of the containing 
application to show through, provided that there is a containing application and 
the browser is able to support composited display of the underlying window.</p>
<p>For the <i>backTexture</i>, <i>bottomTexture</i>,<i> frontTexture</i>, <i>
leftTexture</i>, <i>rightTexture</i>, <i>topTexture</i> fields, browsers shall 
support any X3DTexture node types supported in the currently supported profile.
</p>

<h1><img class="cube" src="../../Images/cube.gif" alt="cube" width="20" height="19">
<a name="Supportlevels"></a>
24.5 Support levels</h1>

<p>The Environmental Sensor component provides three levels of support as specified 
  in <a href="#t-supportlevels">Table 24.2</a>. Level 1 is intended to 
  support simple backgrounds for lightweight profiles. Level 2 provides additional 
  environmental effects, including full background features, fog, and limited 
texture backgrounds. Level 3 provides full support for texture backgrounds.</p>

<div class="CenterDiv">

<p class="TableCaption">
<a name="t-supportlevels"></a>
Table 24.2<b>
&mdash; </b>Environmental effects component support levels</p>

<table>
      <tr> 
        <th>Level</th>
        <th>Prerequisites</th>
        <th>Nodes/Features</th>
        <th>Support</th>
      </tr>
      <tr> 
        <td align="center"><b>1</b></td>
        <td>Core 1<br>
        Time 1<br>
        Grouping 1</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td align="center"></td>
        <td></td>
        <td><i>X3DBackgroundNode</i> (abstract)</td>
        <td>n/a</td>
      </tr>
      <tr> 
        <td align="center"></td>
        <td></td>
        <td>Background</td>
        <td><i>groundAngle</i> and <i>groundColor</i> optionally supported. <i>backURL</i>, <i>frontURL</i>, <i>leftURL</i>, <i>rightURL</i>, 
          <i>topURL</i> optionally supported. <i>skyAngle</i> optionally 
        supported. One 
          <i>skyColor</i>.</td>
      </tr>
      <tr> 
        <td align="center"><b>2</b></td>
        <td>Core 1<br>
        Time 1<br>
        Grouping 
          1</td>
        <td></td>
        <td></td>
      </tr>
      <tr> 
        <td align="center"></td>
        <td></td>
        <td>All Level 1 Environmental Effects nodes</td>
        <td>All fields fully supported.</td>
      </tr>
      <tr> 
        <td align="center"></td>
        <td></td>
        <td>Fog</td>
        <td>All fields fully supported.</td>
      </tr>
      <tr> 
        <td align="center"><b>3</b></td>
        <td>Core 1<br>
        Time 1<br>
        Grouping 
          1</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr> 
        <td align="center"></td>
        <td></td>
        <td>All Level 2 Environmental Effects nodes</td>
        <td>All fields fully supported.</td>
      </tr>
      <tr> 
        <td></td>
        <td></td>
        <td>TextureBackground</td>
        <td>All fields fully supported.</td>
      </tr>
    </table>

</div>

<p> <img src="../../Images/x3dbar.png" width="430" height="23" alt="--- X3D separator bar ---"></p>


</BODY>

</HTML>